.DS_Store
**/node_modules
**/out
**/dist
**/reports
**/.env
**/*.log.*
**/*.log*
**/*.tsbuildinfo

.nx/cache
.nx/workspace-data
.github/instructions/nx.instructions.md

.vscode/**/*
!.vscode/extensions.json
!.vscode/settings.json
